body {
  background-color: $low-gray;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 24px;
  // color: $c-1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

main {
  .hero {
    padding-top: 104px;
  }
}

b {
  font-weight: 700;

  &.medium {
    font-weight: 500;
  }
}

.h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
}

.h2 {
  font-size: 48px;
  font-weight: 500;
  line-height: 64px;
}

.h3 {
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
}

.h5 {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}

.c-orange {
  color: $orange;
}

.mx-auto {
  margin-inline: auto;
}

.list-card-projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  div {
    margin-inline: 20px;
  }
}
