@import './src/styles/settings';

.card_project {
  width: 224px;
  min-height: 360px;
  border-radius: 24px;
  border: 1px solid $c-3;

  .card_image {
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
  }

  .card_body {
    padding: 16px 16px;

    .title {
      font-size: 16px;
      color: $c-1;
      margin-bottom: 4px;

      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      white-space: break-spaces;
      overflow: hidden;
    }

    .description {
      font-size: 14px;
      color: $mid;
      line-height: 16px;
      margin: 8px 0 24px;
    }

    .buttons {
      text-align: center;

      a {
        &:first-child {
          margin-bottom: 8px;
        }
      }
    }
  }
}
