// DEFAULT
$white: #fff;
$black: #000;
$t-default: all 0.3s ease-out;

$disable-text: #d4d8e2;
$bot: #b9b9d0;
$orange: #ff8f56;
$low-gray: #f1f3f5;
$yellow: #fdcc52;
$red: #ff5656;
$mid: #676596;
$green: #3ac24e;

$c-1: #25235c;
$c-2: #455a64;
